* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

:root {
--main-black: #212121;
--main-grey: #757575;
--main-blue: #2196F3;
--main-white: #FFFFFF;
--second-black: #000000;
--border-color: #ECECEC;
--background-color-icon: #F5F4FA;

}


body {
        font-family: "roboto", sans-serif;
        font-style: normal;
        background: #ffffff;
        color: var(--main-black);
}

ul {
        list-style-type: none;
}

.link {
        color: var(--main-grey);
}

.link:hover, .navi:hover, .link2:hover {
        color: var(--main-blue);
}

.navi {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: var(--main-black);
        
}


.link2 {
        color: var(--main-white);
}



footer {
        height: 252px;
        left: 0px;
        top: 2097px;
        background: #2F303A;;

}

.logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--main-blue);
}

.logo1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--second-black);
}

.logo2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--main-white);
}

.button-service {
        background: #2196F3;
        color: var(--main-white);
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        cursor: pointer;
        text-align: center;
        padding: 10px;
        width: 200px;
        border: none;
}

.buttons-portfolio {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.03em;
        line-height: 1.62;
        background: #F5F4FA;
        border-radius: 4px;
        cursor: pointer;
        color: var(--main-black);
        border: #F5F4FA;
        text-align: center;
        padding: 6px 22px;
        border: none;
}


.flex-button-portfolio {
        display: flex;
        justify-content: center;
        gap:8px;
        padding-top: 94px;
        margin-bottom: 50px;
}

.buttons-portfolio:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        background: #2196F3;
        color: var(--main-white);
}

.h1 {
        margin: 0 auto;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--main-white);
}

h4 {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-black);

}

.h4 {
        padding-top: 30px;
}

.lorem {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: var(--main-grey);
        width: 270px;
        padding-top: 10px;
}

h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: var(--main-black);
        display: flex;
        justify-content: center;
        padding-top: 94px;

}

.h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: var(--main-black);
        display: flex;
        justify-content: center;
        padding-top: 94px; 
}


.name-team {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: var(--main-black);
        text-align: center;
        padding-block: 30px 10px;
}

.jobs {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: var(--main-grey);
        text-align: center;
        padding-block: 10px 30px;
}



.photo-portfolio {
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: var(--main-black);
        margin-left: 24px;
        padding-block: 20px 4px;
}

.under-photo-portfolio {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: var(--main-grey);
        margin-left: 24px;
        padding-block: 4px 20px;

}

a {
        text-decoration: none;
}

.solutions {
        height: 600px;
        margin: 0;
        text-align: center;
        padding: 200px 0;
        background: #2F303A;
}

.our-team {
        
        background: #F5F4FA;
}

.frame-portfolio {
        width: 370px;
        height: 404px;
        left: 215px;
        top: 262px;
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
}



.frame-team {
        width: 270px;
        height: 428px;
        left: 215px;
        top: 1635px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.container {
        width: 1200px;
        margin: 0 auto;
        
}

.wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px;
        border-color: var(--border-color);
}



.navigation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        padding-top: 24px;
        padding-bottom: 25px;
        gap: 93px;
}

.navi-index {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        gap: 46px;
}


.navi-link-portfolio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
}




.kontakt-nav-portfolio {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 50px;
        margin-left: 200px;
        color: var(--main-grey);
}
.kontakt-nav {
        list-style-type: none;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        gap: 50px;
        margin-left: 330px;
        color: var(--main-grey);
}
        
.navi-link {
         display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
}


.lorem-index {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin: 0;
}

.h4-lorem {
        margin-right: 30px;
}


.photo-jobs-index {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding-top: 50px;
        padding-bottom: 94px;
        

}

.team-photo-index {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding-top: 50px;
        padding-bottom: 94px;
}

.footer-logo {
        display: inline-block;
        margin-right: 70px;
 
}

.footer-adress {
        padding-top: 20px;
}

.footer-link {
        padding-block: 9px;
}

.flex-photo-portfolio {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 94px;
}

.box-lorem {
        width: 270px;
        height: 120px;
        background-color: var(--background-color-icon);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
}

.section {
        padding-top: 94px;
}

.box-client {
        width: 170px;
        height: 92px;
        left: 215px;
        top: 2493px;
        box-sizing: border-box;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        margin-right: 30px;
        margin-block: 50px 90px;
}

.list-client {
        display: flex;
        list-style: none;
        padding-block: 50px 94px;
        margin: 0;
}

.h4-footer {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        
}

.footer-wrap {
        display: flex;
        padding-top: 60px;
        align-items: flex-start;
}



.ul-footer {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.list-footer {
        margin-right: 10px;
        width: 44px;
        height: 44px;
}

.icon-social-fotter:hover {
        background: var(--main-blue);
        border-radius: 50%;
        cursor: pointer;
}

.kontakt-header {
        margin-right: 30px;
}

.kontakt {
        margin-right: 10px;
        fill: currentColor;
}
